@media (width > 1440px) {
    header {
        margin-top: 80px;
        margin-left: 661px;
    }
    .fotoebisdiv {
        display: grid;
        grid-template-areas: 'pirveli meore mesame meotxe mexute meeqvse';
    }
    .first2 {
     grid-area: pirveli;
     margin-left: -18px;
    }
    .second2 {
        grid-area: meore;
    }
    .third2 {
        grid-area: mesame;
    }
    .fourth2 {
        grid-area: meotxe;
        margin-left: 781px;
    }
    .fiveth2 {
        grid-area: mexute;
    }
    .sixth2 {
        grid-area: meeqvse;
    }
    .fotosback {
        width: 100px;
        height: 100px;
        margin-top: 28px;
    }
    .fromgrptowhat {
        display: grid;
        place-items: center;
        margin-top: -250px;
    }
    .fromgrptowhat1 {
        width: 445px;
        font-size: 64px;
        line-height: 64px;
    }
    .fromgrptowhat2 {
        width: 540px;
        font-size: 18px;
        line-height: 26px;
    }
    .dwld {
        margin-left: -160px;
    }
    .what {
        margin-top: -60px;
        margin-left: 230px;
    }
    .fizika1 {
        margin-left: 692px;
    }
    .fotoebisdiv2 {
        display: flex;
    }
    .imgdiv1 {
        width: 498px;
        height: 332px;
        margin-left: 59px;
        border-radius: 10px;
    }
    .imgdiv2 {
        width: 255px;
        height: 332px;
        margin-left: -10px;
    }
    .imgdiv3 {
        width: 384px;
        height: 332px;
        border-radius: 10px;
        margin-left: -10px;
    }
    .imgdiv4 {
        width: 268px;
        height: 332px;  
        margin-right: 158px;
        border-radius: 10px;
    }
    .warwerebis2div {
        margin-left: 550px;
        margin-top: 90px;
        font-size: 16px;
    }
    .warwerebi1 {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 4px;
        font-size: 16px;
    }
    .warwerebi2 {
        width: 445px;
        font-size: 40px;
        margin-left: -20px;
    }
    .warwerebi3 {
        width: 540px;
        font-size: 18px;
        margin-left: -60px;
    }
    .fizika2 {
        margin-left: 719px;
    }
    footer {
        display: flex;
        justify-content: center;
        background-image: url(/assets/footergirl.svg);
        background-repeat:no-repeat;
        background-attachment: fixed;
        width:1441px;
    }
    .footertxt1 {
        margin-top: 150px;
        margin-left: -px;
        width: 350px;
        font-size: 40px;
        line-height: 44px;
        align-items: center;
    }
    .footertxt2 {
        margin-top: 155px;
        margin-left: 230px;
        width: 350px;
        font-size: 18px;
        line-height: 26px; 
    }
    .dwldfooter {
        margin-top: 175px;
        margin-left: 200px;
    }
}